.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: rgb(224, 224, 224);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background: white;
  box-shadow: 0 0 0.5rem rgba(83,78,76,.5);
}

.nav-link {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 1.75em;
}

#loginCard {
  width: 350px;
  position: fixed;
  top: calc(50% - 400px);
  left: calc(50% - 150px);
}

#loginCard .card-header {
  font-size: 1.5em;
}

#loginCard .input-group {
  margin-bottom: 10px;
}

#loginCard button {
  margin-bottom: 10px;
}

#loginCard .input-group-text {
  width: 40px;
}

.loginLoader {
  position: absolute;
  top:60px;
  left:0px;
}

#loginCard .alert {
  font-size: 14px;
}

#background-video{
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.white-text{
  color: white;
}

.card-title {
  padding: 10px;
  text-align: left;
}

.card {
  margin-bottom: 20px;
}

.huge {
  font-size: 40px;
}

.top-card .card-title {
  font-size: 1rem;
}

.card-text {
  padding: 0px 10px 10px 10px;
}

.card-loading-bar {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0px;
}

.modal-loading-bar {
  position: absolute;
  width: 100%;
  top: 62px;
  left: 0px;
}

#modalHome .row {
  margin-bottom: 10px;
}

.react-bs-table-container .btn-group-sm {
  float: left;
}

.react-bs-table-container .dropdown {
  float: left;
}

.react-bs-table-insert-modal .modal-header span {
  width:100%;
}

#pageDropDown {
  float: left;
}

table th {
  text-align: left;
}

thead th{
  border-top-width: 0px!important;
}

.ReactModal__Content {
  top:10%;
}

.modal-xl {
  max-width: 90%;
  width: 90%;
}

.top-right-edit {
  position: absolute;
  top:10px;
  right: 10px;
}

.ReactModal__Overlay {
  z-index: 2000!important;
}