.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: rgb(224, 224, 224);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-link {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 1.75em;
  color:#3ca2e0!important;
}

#loginCard {
  width: 350px;
  position: fixed;
  top: calc(50% - 400px);
  left: calc(50% - 150px);
}

#loginCard .card-header {
  font-size: 1.5em;
}

#loginCard .input-group {
  margin-bottom: 10px;
  width: 100px;
}

#loginCard button {
  margin-bottom: 10px;
}

#loginCard .input-group-text {
  width: 40px;
}

.loginLoader {
  position: absolute;
  top:60px;
  left:0px;
}

#loginCard .alert {
  font-size: 14px;
}