.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom-color: rgb(224, 224, 224);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.nav-link {
  font-size: 1.25em;
}

.navbar-brand {
  font-size: 1.75em;
  color:#3ca2e0!important;
}

#loginCard {
  width: 400px;
  position: fixed;
  top: calc(50% - 300px);
  left: calc(50% - 200px);
}

#loginCard .card-header {
  font-size: 1.5em;
}